<link rel="import" href="../bower_components/core-dropdown/core-dropdown.html" />
<link rel="import" href="../node_modules/ui-grid/src/ui-grid.html" />
<link rel="import" href="../node_modules/polymer/layout.html" />
<link rel="import" href="../node_modules/ui-pill/src/ui-pill.html" />
<link rel="stylesheet" type="text/css" href="../node_modules/ui-font-awesome/font-awesome-icons.less" />
<link rel="stylesheet" type="text/css" href="../node_modules/ui-font-awesome/font-awesome.less" />
<link rel="stylesheet" type="text/css" href="../node_modules/ui-font-awesome/icons.less" />


<polymer-element name="filter-header" attributes="headerText" on-grid-sort="{{updateHeaders}}">
  <style>
    html /deep/ core-dropdown{
      background: #E6E6E6;
      padding: 10px;
      opacity: 1;
    }
  </style>
  <template>
    <link rel="stylesheet" type="text/css" href="./filter-header.less">
    <grid-header-item flex class="{{headerText}}">
      <grid-sort-header sortprop="{{headerText}}" col="{{headerText}}">
        <div class="headertextIconContainer">
          <icon id="trigger" filter on-click="{{filterOpen}}" title="Click to filter">
            <core-dropdown id="modal" relatedTarget="{{$.trigger}}" layered>
              <div id="columnToFilter"></div>
              <input id="filterEntry" autofocus placeholder="Insert Filter..." on-keyup="{{filter}}">
            </core-dropdown>
          </icon>
          <div class="headerText">{{ headerText }}</div>
        </div>
        <grid-sort-icon sort-icon></grid-sort-icon>
      </grid-sort-header>
    </grid-header-item>
  </template>
</polymer-element>

<polymer-element name="table-header" attributes="pillList, itemCount, bindPrePends">
  <template>
    <link rel="stylesheet" type="text/css" href="./table-header.less">
    <div horizontal layout class="holder">
      <template bind="{{readyBind}}" ref="table-header-prepends" class="prependHolder">
      </template>
      <div flex class="pillHolder">
        <template repeat="{{pillList}}">
            <ui-pill class="{{ {persist: persist} | tokenList}}" id="{{id}}">{{column}}:{{text}}</ui-pill>
        </template>
      </div>
      <div class="itemCount">
        Item Count: {{itemCount}}
      </div>
    </div>
  </template>
</polymer-element>

<polymer-element unresolved name="ui-filtered-grid" attributes="dataSrc, defaultFilter, value, height, filteredValue" on-filter-on="{{filter}}" on-gridvaluechanged="{{updateTable}}" on-remove="{{reFilter}}">
  <template>
    <link rel="stylesheet" type="text/css" href="./ui-filtered-grid.less">

    <div vertical layout>
      <div>
        <table-header id="header" flex></table-header>
      </div>
      <ui-grid class="loading" id="table" rowheight="50">
        <template header-default>
          <filter-header class="{{header}}" headerText="{{header}}"></filter-header>
        </template>
      </ui-grid>

    </div>
  </template>
</polymer-element>

<script src="./ui-filtered-grid.litcoffee"></script>
